body {
    color: #ccc;
    background-color: #303030;
    font-weight: 300 !important;
}
.navbar-default {
    background-color: #262626;
    border-color: #303030;
}
thead, th {
    background: #404040;
    font-weight: 300;
    color:#909090;
    margin-bottom:2px;
}
tbody {
    background: #404040;
}
a.currency-name-container {
    font-weight: 300;
    color: #ddd;
}
a.price {
    color: rgb(99, 185, 218) ;
    font-size: 18px;
}
.positive_change {
    color: #4ad77c;
}
.negative_change {
    color: #ff5943;
}
.percent-24h {
    font-size: 18px;
}
.col-lg-10 {
    /* width: 83.33333333%; */
    left: 50%;
    transform: translate(-50%, -0%);
}
.btn-primary {
    color: #647076;
    background-color: #262626;
    border-color: #262626;
}
#top-nav-outer-container {
    padding: 5px 15px 0 15px;
    background-color: #303030!important;
    border-bottom: 0px solid #303030!important;
}
.pagination>li>a {
    color: #909090;
    background-color: #262626 !important;
    border: #262626 !important;
}
.dataTable td.sorting_1 {
    border: 1px solid #292929;
}
.sorting_asc {
    border-left: 0px solid #303030;
    border-right: 1px solid #292929;
}
#title a {
    color: #909090;
}
#top-nav-outer-container {
    padding: 5px 15px 0 15px;
    background-color: #101010;
    border-bottom: 1px solid #000;
}
a {
    color: #909090;
    text-decoration: none;
}
img.sparkline {
    border: 0px solid #aaaaaa;
    width: 166px;
    height: 50px;
    -webkit-filter: invert(60%); /* Chrome, Safari, Opera */
    filter: invert(60%);
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #aaa;
    background-color: #262626;
    background-image: none;
    border: 1px solid #303030;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #ccc !important;
    background-color: #262626 !important;
    border: 1px solid #262626;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs>li.active>a {
    color: #909090 !important;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #ccc;
    background-color: #303030;
    border-color: #303030;
}
#charts{
    -webkit-filter: invert(80%); /* Chrome, Safari, Opera */
    filter: invert(80%);
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px #262626;;
}
thead tr {
    border-top: 0px solid #303030;
}
.coin-summary-item h3 {
    border-top: 0px solid #DDD;
    border-bottom: 0px solid #DDD;
    background-color: #333333;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
img.sparkline {
    border: 0px solid #aaaaaa !important;  
}
hr {
    border-top:0px solid #eee;
}
.global-stats.desktop.outer-container {
    background-color: #303030 !important;
    border-bottom: 1px solid #424242 !important;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0)
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    background-color: #303030;
    color: #777;
    white-space: nowrap;
}
.dropdown-menu {
    background-color: #303030;
}
.dropdown-menu>li>a:hover {
    background-color: #383838 !important;
    color: #ccc !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #262626 !important;
    color: #777 !important;
}
.nav-tabs>li>a.dropdown-toggle, .open>a:hover {
    background-color: #303030;
    border: 1px solid #262626 !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #adadad;
}
.nav>li>a:hover {
    color: #adadad;
}
table#currencies>tbody>tr>td {
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.08);
}
.language-dropdown, .global-currency-dropdown {
    background-color: #262626;
    border-color: #262626;
    font-size: 13.6px;
    padding-left: 8px;
    padding-right: 8px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #303030;
}
::-webkit-scrollbar { 
    display: none; 
}
.low-volume {
    background-color: #404040; 
}
.stale-box {
    background-color: #404040;
}
.col-lg-2 {
    width: 16.66666667%;
    display: none;
}
#leaderboard {
    display: none !important;
}
.leaderboard {
    display: none !important;   
}
.ct_70unrFbnc {
    display: none !important;
}
.no-data {
    background-color: #404040 !important;
}
table#assets-all>tbody>tr>td {
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.08);
}
table#assets>tbody>tr>td {
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.08);
}
table#currencies-all>tbody>tr>td {
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.08);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ccc;
    background-color: #303030;
    border-color: #444;
}
.dropdown-menu>li>a:hover {
    background-color: #383838 !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    background-color: #262626;
}
.nav-tabs>li>a:hover {
    background-color: #262626 !important;
    color: #ccc !important;
    border-color: #262626 !important;
}
a.currency-name-container {
    font-weight: 300;
    color: #ddd !important;
}
a:hover, a:focus {
    color: #cecece;
    text-decoration: underline;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #262626 !important;
}
th#th-added {
    width: 100px !important;
}
#header-banner-wrapper {
    display: none !important;
}
th#th-name {
    background-color: #404040 !important;
}
th#th-symbol {
    background-color: #404040 !important;
}
th#th-added {
    background-color: #404040 !important;
}
th#th-marketcap {
    background-color: #404040 !important;
}
th#th-marketcap {
    background-color: #404040 !important;;
}
th#th-price {
    background-color: #404040 !important;
}
th#th-totalsupply {
    background-color: #404040 !important;
}
th#th-volume {
    background-color: #404040 !important;
}
th#th-platform {
    background-color: #404040 !important;
}
th#th-change {
    background-color: #404040 !important;
}
th#th-change24h {
    background-color: #404040 !important;
}
th#gainers-th-name-24h {
    background-color: #404040 !important;
}
th#gainers-th-symbol-24h {
    background-color: #404040 !important;
}
th.col-rank {
    background-color: #404040 !important;
}
th.text-right {
    background-color: #404040 !important;
}
th.text-center {
    background-color: #404040 !important;
}
th#th-marketcap-graph {
    background-color: #404040 !important;
}
th#gainers-th-volume-24h {
    background-color: #404040 !important;
}
.table thead tr th:after {
    border-bottom: 0px solid #262626;
}
.dropdown-menu .divider {
    background-color: #292929 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ccc !important;
    background-color: #383838 !important;
}
.btn:hover, .btn:focus {
    color: #ccc;
}
th#gainers-th-name-1h {
    background-color: #404040 !important;
}
th#gainers-th-symbol-1h {
    background-color: #404040 !important;
}
th#gainers-th-name-7d {
    background-color: #404040 !important;
}
th#gainers-th-symbol-7d {
    background-color: #404040 !important;
}
div#calculator {
    background-color: #262626 !important;
}
.well {
    border: 1px solid #303030 !important;
}
select.form-control+.chosen-container.chosen-container-single .chosen-single {
    background-color: #303030 !important;
    border: 1px solid #404040 !important;
    color: #ccc !important;
}
select.form-control+.chosen-container-multi.chosen-container-active .chosen-choices, select.form-control+.chosen-container.chosen-container-single.chosen-container-active .chosen-single, select.form-control+.chosen-container .chosen-search input[type=text]:focus {
    border-color: #3a3a3a !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(90, 102, 111, 0.6);
}
.form-control:focus {
    border-color: #3a3a3a !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(99, 99, 99) !important;
}
.table>tbody>tr>td {
    border-bottom: none;
}
th#th-source {
    background-color: #404040 !important;
}
th#th-pair {
    background-color: #404040 !important;
}
th#th-actions {
    background-color: #404040 !important;
}
.is-theme-standard .footer {
    border-top: 1px solid #262626 !important;
    background-color: #303030  !important;
    border-bottom: 1px solid #262626  !important;
    box-shadow: 0 1px 2px 0 rgba(126,126,126,0.2)  !important;
    margin-bottom: 2px !important
}
.is-theme-standard .alert-announcement {
    background-color: #262626 !important;
    color: #ccc !important;
}
button.close {
    color: #fff !important;
}
.is-theme-standard .navbar.desktop {
    background-color: #303030  !important;
    border: 0  !important;
    border-bottom: 1px solid #262626  !important;
    box-shadow: 0 1px 2px 0 rgba(126,126,126,0.2)  !important;
}
.is-theme-standard .global-stats.desktop.outer-container {
    background-color: #303030  !important;
    border: 0  !important;
    border-bottom: 1px solid #262626  !important;
    box-shadow: 0 1px 2px 0 rgba(126,126,126,0.2)  !important;
    margin-bottom: 2px !important
}
.brand-image.default {
    filter: brightness(100);
}
.navbar-brand img {
    filter: contrast(0);
}
.alt-image.default, .alt-image.inverse {
    background: url(https://s2.coinmarketcap.com/static/cloud/img/coinmarketcap_white_1.svg) !important;
    height: 41px !important;
    width: 239px !important;
}
label.btn.btn-default.btn-sm.active {
    color: #647076 !important;
    background-color: #262626 !important;
    border-color: #444 !important;
}
label.btn.btn-default.btn-sm {
    color: #647076 !important;
    background-color: #303030 !important;
    border-color: #444 !important;
}
.night-mode .btn-group>.btn:hover, .night-mode .btn-group-vertical>.btn:hover, .night-mode .btn-group>.btn:focus, .night-mode .btn-group-vertical>.btn:focus {
    background-color: #303030 !important;
    border-color: #444 !important;
}
.is-theme-standard .toolbar-tool-icon {
    background-color: #262626  !important;
    border: 1px solid #444  !important;
}
.is-theme-standard .watchlist-star.is-deselected {
    background-color: #262626  !important;
    border: 1px solid #444  !important;
}
th#th-more-options {
    background-color: #404040 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #262626 !important;
    color: #ccc !important;
    border-color: #262626 !important;;
}
.btn-primary {
    color: #909090;
    background-color: #262626;
    border-color: #262626;
}
button.btn.btn-xs.dropdown-toggle.language-dropdown {
    color: #909090;
}
button.btn.btn-xs.dropdown-toggle.language-dropdown:hover {
    color: #ccc;
}
button.btn.btn-xs.dropdown-toggle.global-currency-dropdown {
    color: #909090;
}
button.btn.btn-xs.dropdown-toggle.global-currency-dropdown:hover {
    color: #ccc;
}
.navbar.desktop {
    background-color: #303030 !important;
    border-bottom: 1px solid #424242 !important;
    box-shadow: 0 1px 2px 0 rgba(53, 53, 53, 0.2) !important;
}
.toolbar-tool-icon {
    background-color: #262626 !important;
    border: 1px solid #424242 !important;
} 
.watchlist-star.is-deselected {
    background-color: #262626 !important;
}
.btn-default {
    color: #909090 !important;
    background-color: #262626 !important;
    border-color: #262626 !important;
}
button#currency-switch-button:hover {
    color: #ccc !important;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
}
.btn:active, .btn.active {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
}
#reportrange {
    border: 1px solid #404040;
}
.ranges li {
    background-color: #404040;
    border: 1px solid #404040;
    color: #bbb;
}
.ranges li:hover {
    background-color: #5e589c;
    border: 1px solid #484848;
    color: #fff;
}
.ranges li.active {
    background-color: #5e589c;
    border: 1px solid #484848;
    color: #fff;
}
footer {
    border-top: 1px solid #424242;
    box-shadow: 0 1px 2px 0 rgba(53, 53, 53, 0.2);
}
footer .footer-col-content.first {
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
}
footer h6 {
    color: #bbb;
}
div[style="border:2px solid #E4E6EB;border-radius: 10px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;min-width:285px;"] {
    border: 1px solid #909090 !important;
}
div[style="border-top: 1px solid #E4E6EB;clear:both;"] {
    border-top: 1px solid #909090 !important;
}
div[style="text-align:center;float:left;width:33%;font-size:12px;padding:12px 0;border-right:1px solid #E4E6EB;line-height:1.25em;"] {
    border-right: 1px solid #909090 !important;
}
div[style="text-align:center;float:left;width:33%;font-size:12px;padding:12px 0 16px 0;border-right:1px solid #E4E6EB;line-height:1.25em;"] {
    border-right: 1px solid #909090 !important;
}
div[style="border-top: 1px solid #E4E6EB;text-align:center;clear:both;font-size:10px;font-style:italic;padding:5px 0;"] {
    border-top: 1px solid #909090 !important;
}
a[style="text-decoration: none; color: rgb(66, 139, 202);"] {
    color: #ccc !important;
}
th.sort-caret-right {
    background-color: #404040 !important;
}
.timeline-Widget {
    background-color: #262626 !important;
}
.timeline-Header-title {
    color: #cecece !important;
}
.timeline-Tweet:hover:hover {
    background-color: #222 !important;
}
.customisable, .customisable:link, .customisable:visited {
    color: #7cacd2 !important;
}
.reddit-header {
    background-color: #262626 !important;
    border-bottom: 1px solid #424242 !important;
}
.rembeddit {
	background-color: #262626 !important;
    border: 1px solid #424242 !important;
}
a.reddit-link-title.may-blank {
    color: #cccccc !important;
}
h4.reddit-title > a {
    color: #7cacd2 !important;
}

/* SMALLER SCREEN FIX */
@media only screen and (max-width: 767px) {
	.DTFC_Cloned td {
    	background-color: #404040 !important;
	}
	.DTFC_LeftWrapper .DTFC_LeftHeadWrapper, .DTFC_LeftWrapper .DTFC_LeftBodyWrapper {
    	display: none !important;
	}
	.list-group-item {
    	background-color: #303030;
	}
	.is-theme-standard .global-stats.mobile .list-group-item {
    	border-left: 0px;
    	border-right: 0px;
	}
	.is-theme-standard .global-stats.mobile .list-group-item.main {
    	border-bottom: 0px;
    	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
	}
	.is-theme-standard .global-stats.mobile .list-group-item.last {
    	border-bottom: solid 1px rgba(0,0,0,0.08);
	}
	h2.brand {
    	background-color: #303030 !important;
	}
	.alt-image.default, .alt-image.inverse {
    	background: none !important;
	}
	.is-theme-standard .navbar.mobile {
    	border-bottom: 0px;
    	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
	}
	.is-theme-standard .alt-image.inline.default {
    	display: block !important;
	}
	img.alt-image.inline.default {
    	filter: contrast(0);
	}
	img.alt-image.default {
    	filter: contrast(0);
	}
	.alt-image.default {
    	filter: contrast(0);
	}
}
